.formula {
  button {
    height: auto;
    margin: 0 1px;
    padding: 0px 6px;
    border-radius: 2px;
    svg {
      width: 16px;
    }
  }
}

.custom-tabpanel {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  height: 160px;
  box-sizing: border-box;
  background-color: rgba($color: #000000, $alpha: 0.04);
  align-items: flex-start; // 默认值为 stretch，意味着子元素会在交叉轴上拉伸
  align-content: flex-start;
  gap: 10px;
  overflow-y: auto;
  padding: 10px;
  .formula-item {
    position: relative;
    .formula-item-mask {
      z-index: 1;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
    }
  }
}

.mf-preview {
  margin-top: 10px;
  width: 100%;
  .mf {
    border-bottom: rgba($color: #000000, $alpha: 0.1) solid 1px;

    overflow-x: auto;
    padding: 2px;
  }
}

.mf-preview-input {
  width: 100%;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 2px;
  border-bottom: rgba($color: #000000, $alpha: 0.1) solid 1px;
  input {
    outline: none;
    border: none !important;
    width: 100%;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 2px;
    height: 100%;
  }
}
.mf-preview-input-btn {
  text-align: right;
  margin-top: 10px;
}