html,body{
  padding: 0; 
  margin: 0;
}

@media not (pointer: coarse) {
  math-field::part(virtual-keyboard-toggle) {
    display: none;
  }
  math-field::part(menu-toggle) {
    display: none;
  }
}