.custom-node{
    margin: 0 4px;
    .question{
        margin: 2px;
        display: inline-block;
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        border-bottom:black solid 1px ;
        padding-bottom: 2px;
        div{
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80%;
            width: 80%;
            border: black solid 1px;
            border-radius: 50%;
        }
    }
}
