.menubarSelect {
  width: 100px;
  height: 30px;
}


.menubarSelecth1 {
  font-size: 22px;
  font-weight: 700;
}
.menubarSelecth2 {
  font-size: 20px;
  font-weight: 600;
}
.menubarSelecth3 {
  font-size: 18px;
  font-weight: 500;
}