/* Basic editor styles */

//  自定义样式
.solid {
  border-top: 1px solid black !important;
}
.dashed {
  border-top: 1px dashed black !important;
}

.dot {
  text-emphasis: dot;
  text-emphasis-position: under left;
}

/* 可以放在你的全局 CSS 或组件样式文件中 */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 2px 8px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

math-field[readonly] {
  border: none; /* 去掉边框 */
  outline: none; /* 去掉聚焦时的轮廓 */
}

@media not (pointer: coarse) {
  math-field::part(virtual-keyboard-toggle) {
    display: none;
  }
  math-field::part(menu-toggle) {
    display: none;
  }
}

.editable {
  border-radius: 10px;
  border: rgba($color: #000000, $alpha: 0.1) solid 1px;
  .editorContent {
    padding: 4px 6px;
  }
}

.myEdit {
  .editorContent {
    flex: 1;

    overflow: auto;
    display: flex;

    .ProseMirror {
      outline: none;
      // 一下三个属性 就是自适应剩余父元素的高度 将剩余的空间铺满
      height: 100%;
      width: 100%;

      // padding: 10px;
      > * + * {
        margin-top: 0.75em;
      }

      ul,
      ol {
        padding: 0 1rem;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        line-height: 1.1;
      }

      code {
        background-color: rgba(#616161, 0.1);
        color: #616161;
      }

      pre {
        background: #0d0d0d;
        color: #fff;
        font-family: 'JetBrainsMono', monospace;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;

        code {
          color: inherit;
          padding: 0;
          background: none;
          font-size: 0.8rem;
        }
      }

      img {
        max-width: 100%;
        height: auto;
      }

      blockquote {
        padding-left: 1rem;
        border-left: 2px solid rgba(#0d0d0d, 0.1);
      }

      hr {
        border: none;
        border-top: 2px solid rgba(#0d0d0d, 0.1);
        margin: 2rem 0;
      }
      // p {
      //   line-height: 0.2;
      // }
    }
  }
}
