/* Basic editor styles */

.editable {
  border: rgba($color: #000000, $alpha: 0.1) solid 1px;
  border-radius: 6px;
  .editorContent {
    padding: 4px 6px;
  }
}

.tiptap-editor {
  .editorContent {
    display: flex;
    flex: 1;

    overflow: auto;

    .ProseMirror {
      width: 100%;
      // 一下三个属性 就是自适应剩余父元素的高度 将剩余的空间铺满
      height: 100%;
      outline: none;

      // padding: 10px;
      > * + * {
        margin-top: 0.75em;
      }

      ul,
      ol {
        padding: 0 1rem;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        line-height: 1.1;
      }

      code {
        color: #616161;
        background-color: rgba(#616161, 0.1);
      }

      pre {
        padding: 0.75rem 1rem;
        color: #fff;
        font-family: 'JetBrainsMono', monospace;
        background: #0d0d0d;
        border-radius: 0.5rem;

        code {
          padding: 0;
          color: inherit;
          font-size: 0.8rem;
          background: none;
        }
      }

      img {
        max-width: 100%;
        height: auto;
      }

      blockquote {
        padding-left: 1rem;
        border-left: 2px solid rgba(#0d0d0d, 0.1);
      }

      hr {
        margin: 2rem 0;
        border: none;
        border-top: 2px solid rgba(#0d0d0d, 0.1);
      }

      p.is-editor-empty:first-child::before {
        float: left;
        height: 0;
        color: #adb5bd;
        content: attr(data-placeholder);
        pointer-events: none;
      }

      //  自定义样式
      .solid {
        border-top: 1px solid black !important;
      }
      .dashed {
        border-top: 1px dashed black !important;
      }

      .dot {
        text-emphasis: dot;
        text-emphasis-position: under left;
      }

      /* 可以放在你的全局 CSS 或组件样式文件中 */
      table {
        width: 100%;
        border-collapse: collapse;
      }

      th,
      td {
        padding: 2px 8px;
        border: 1px solid #ddd;
      }

      th {
        text-align: left;
        background-color: #f2f2f2;
      }

      math-field[readonly] {
        border: none; /* 去掉边框 */
        outline: none; /* 去掉聚焦时的轮廓 */
      }

      math-field[editable] {
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        border-radius: 2px;
      }

      @media not (pointer: coarse) {
        math-field::part(virtual-keyboard-toggle) {
          display: none;
        }
        math-field::part(menu-toggle) {
          display: none;
        }
      }
    }
  }
}

.is-input {
  width: 300px;
  min-height: 32px;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5715;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  transition: border-color 0.2s;
  &:hover {
    border-color: #1890ff;
  }
  p {
    margin: 0;
  }
}

.is-textarea {
  min-height: 80px;
  padding: 6px 11px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5715;
  white-space: pre-wrap;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  transition: border-color 0.2s;
  &:hover {
    border-color: #1890ff;
  }
}

// math-filed 的软键盘隐藏
math-field::part(virtual-keyboard-toggle), math-field::part(menu-toggle) {
  display: none !important;
}

// math-filed 的边框隐藏
math-field{
  outline: none !important;
  // border: none !important;
  border: 1px solid rgba($color: #000000, $alpha: 0.08);
}

