.shap {
  & > * {
    margin-right: 2px !important;
  }
}
.tooltipCont {
  box-sizing: border-box;
  padding: 10px 10px 56px 10px;
  width: 100%;
  math-field{
    min-width: 100%;
  }
  button{
    margin-top: 10px;
    float:right;
  }
}