.question {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 2px;
    padding: 0 10px;
    border-bottom: black solid 1px;
    div {
      line-height: 14px;
      min-width: 20px;
      margin-bottom: 2px;
      color: white;
      font-size: 12px;
      text-align: center;
      background-color: #94c0ff;
      border: #60a4ff solid 1px;
    }
  }
  